footer{
    text-align: center; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 75px; 
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 0;
    font-size: larger;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;   
}
footer p {
    line-height: 0.9cap;
}

a{
    color: aqua;
}

@media (max-width: 768px) {
    .footer-container {
       font-size: 1.5rem;
     }
   
   }
   
   @media (max-width: 480px) {
    .footer-container{
        font-size: 1.2;
    }
   }
